.main-title,
.recipe-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
    color: rgb(180, 60, 42); 
    text-align: center;
}

.main-title {
    font-size: 50px;
}

.recipe-title {
    font-size: 35px;
}


.recipe-links {     
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: darkred;
}

.description,
.ingredients, 
.steps {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

.description {
    background-color: brown;
}

.ingredients {
    background-color: sienna;
}

.steps {
    background-color: chocolate;
}

.details {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.ingred-list li, 
.step-list li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
 
